{% extends "base.html" %}
{% block title %}Tableau De Bord{% endblock %}

{% block boardMainSec %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="https://unpkg.com/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.min.js"></script>
<!-- Bibliothèque Open Layers -->
<!-- CDN references -->
<script src="//npmcdn.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="//d3js.org/d3.v4.min.js"></script>
<script src="//npmcdn.com/geotiff@0.3.6/dist/geotiff.js"></script> <!-- optional -->
<!-- Plugin -->
<script src="https://ihcantabria.github.io/Leaflet.CanvasLayer.Field/dist/leaflet.canvaslayer.field.js"></script>

<!-- chart js for visualisation    -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>

<section class="board-section">
    <div class="map-container">
        <div id="map"></div>
    </div>
    <div class="graph-container">
        <fieldset>
            <legend>Le Profile</legend>
            <canvas id="lstTemp"></canvas>
        </fieldset>
        <fieldset>
            <legend>Nouveau Profile</legend>
            <form action="newProfileForm" method="post" class="newProfileForm" id="newProfile" name="newProfile-form"
                    enctype="multipart/form-data">
                    <div class="form-group">
                    <div class="form-row">
                        <div class="form-group form-inline from-form">
                            <label for="newProfileDateFrom" >De</label>
                            <input type="month" min="2008-01" id="newProfileDateFrom" class="text form-control" type="date"
                                name="newProfileDateFrom">    
                        </div>                        
                        <div class="form-group form-inline to-form">
                            <label for="newProfileDateTo" >A</label>
                            <input type="month" min="2008-01" id="newProfileDateTo" class="text form-control" type="date"
                                name="newProfileDateTo">
                        </div>
                        <div class="form-group">
                            <input id="newProfileBtn" type="submit" value="Valider"/>
                            
                        </div>
                        
                    </div>
                    <div class="progress">
                        <div id="newProfileProgressBar" class="progress-bar bg-success" role="progressbar"
                            style="width: 1%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small id="newProfileMsg">Cela peut prendre quelque minutes...</small>
            </form>
        </fieldset>
        <!-- <fieldset>
            <legend>Section de téléchargement</legend>
        <div class="container">
            <div class="row">
              <div class="col">
                Télécharger la carte de temperature
              </div>
              <div class="col">
                <button id="downloadBtn1" type="submit">Télécharger</button>
              </div>
            </div>
            <div class="row">
                <div class="col">
                Télécharger la Chart de profile
                </div>
                <div class="col">
                  <button id="downloadBtn1" type="submit">Télécharger</button>
                </div>
              </div>
        </div>
    </fieldset>
     -->
    </div>
</section>



<script>

    // this section for charts
    var ctx = document.getElementById("lstTemp").getContext("2d");


    var lineChart = new Chart(ctx,
        {
            type: "line",
            data:
            {
                labels: [],
                datasets:
                    [
                        {
                            label: "Temperature de la surface",
                            data: [],
                            fill: false,
                            borderColor: "rgb(219, 133, 52)",
                            lineTension: 0.5
                        }

                    ]

            },
            options:
            {
                responsive: false,
                scales: {
                    y: {
                        ticks: { color: '#fff', beginAtZero: true }
                    },
                    x: {
                        ticks: { color: '#fff', beginAtZero: true }
                    }
                }
            }
        });


    // this section for charts
    // // GeoTIFF
    var tiff = "http://localhost:8080/2/2022-08/clip_11.tif";

    var map = L.map('map');

    /* Basemap */
    var url = 'http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}';
    L.tileLayer(url, {
        attribution: 'CartoDB & OSM',
        subdomains: 'abc',
        maxZoom: 19
    }).addTo(map);

    /*
        Some ScalarField layers with custom styles
    */
    fetch(tiff).then(r => r.arrayBuffer()).then(function (buffer) {
        var s = L.ScalarField.fromGeoTIFF(buffer);

        var layer2 = L.canvasLayer.scalarField(s, {
            //color: chroma.scale(['black','red','yellow','white']).correctLightness().domain(s.range).classes(25),
            color: chroma.scale(['blue', 'yellow', 'red']).domain([10, 50]).classes(25),
            mouseMoveCursor: null,
            opacity: 0.55
        }).addTo(map);

        layer2.on("click", function (e) {
            if (e.value !== null) {
                console.log(e.latlng["lat"])
                dataToSend = {
                    "lat": e.latlng["lat"],
                    "lon": e.latlng["lng"]
                }
                preformPost(dataToSend)
                let popup = L.popup()
                    .setLatLng(e.latlng)
                    .setContent(`${e.value}`)
                    .openOn(map);




                // get the position in map



                // send post request
                //preformPost()
            }
        });
        map.fitBounds(layer2.getBounds());
    })

    // this is a post request for get in the data for charts
    function preformPost(sendingData) {
        jQuery.ajax({
            type: 'POST',// http method
            url: "profile",
            data: sendingData,// data to submit
            success: function (responseObj) {
                console.log(responseObj)
                updateDoughnutChart(responseObj["labels"], responseObj["band10"])
            }
        });
    }

    function updateDoughnutChart(labels, band10Data) {

        lineChart.data.labels = labels;
        lineChart.data.datasets[0].data = band10Data;

        //console.log(labels)
        //console.log(band10Data)

        lineChart.update();
    }



</script>


<script src="https://unpkg.com/georaster"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
<script src="{{ url_for('static', filename='script/board.js') }}"></script>

{% endblock %}