{% extends "base.html" %}
{% block title %}S'inscrire{% endblock %}



{% block signupMainSec %}
<!-- main -->
<section class="signup-class">
<div class="main-w3layouts wrapper">
    <h1>Inscription</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form action="#" method="post">
                <input class="text" type="text" name="Username" placeholder="Non D'utilisateur" required="">
                <input class="text email" type="email" name="email" placeholder="Courriel" required="">
                <input class="text" type="password" name="password" placeholder="Mot De Passe" required="">
                <input class="text w3lpass" type="password" name="password" placeholder="Confirmer Mot De Passe" required="">
                <div class="wthree-text">
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="S'inscrire">
            </form>
            <p>Vous avez deja un compte? <a href="{{ url_for('login.goLogin')}}"> Connexion Maintenant!</a></p>
        </div>
    </div>
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</section>
<!-- //main -->
	<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2023 K.Imad E.Wafa A.Bilel Amine. All rights reserved </p>
		</div>
		<!-- //copyright -->
{% endblock %}